In [ ]:
import pandas as pd
import numpy as np
import requests
import json

In [ ]:
pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')

       Patient Number  ... Num Cases
0                 1.0  ...         1
1                 2.0  ...         1
2                 3.0  ...         1
3                 4.0  ...         1
4                 5.0  ...         1
...               ...  ...       ...
17359             NaN  ...        -2
17360             NaN  ...         1
17361             NaN  ...        -1
17362             NaN  ...        10
17363             NaN  ...       -10

[17364 rows x 21 columns]

In [ ]:
df1=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
df2=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
df3=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
df4=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
df5=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
df6=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')
df7=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data7.csv')
df8=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data8.csv')
df9=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data9.csv')
df10=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data10.csv')
df11=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data11.csv')
df12=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data12.csv')
df13=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data13.csv')
df14=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data14.csv')
df15=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data15.csv')
df16=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data16.csv')
df17=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data17.csv')
df18=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data18.csv')
df19=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data19.csv')
df20=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data20.csv')
df21=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data21.csv')
df22=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data22.csv')
df23=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data23.csv')
df24=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data24.csv')

In [ ]:
df1.head(25)

    Patient Number  ... Num Cases
0              1.0  ...         1
1              2.0  ...         1
2              3.0  ...         1
3              4.0  ...         1
4              5.0  ...         1
5              6.0  ...         1
6              7.0  ...         1
7              8.0  ...         1
8              9.0  ...         1
9             10.0  ...         1
10            11.0  ...         1
11            12.0  ...         1
12            13.0  ...         1
13            14.0  ...         1
14            15.0  ...         1
15            16.0  ...         1
16            17.0  ...         1
17            18.0  ...         1
18            19.0  ...         1
19            20.0  ...         1
20            21.0  ...         1
21            22.0  ...         1
22            23.0  ...         1
23            24.0  ...         1
24            25.0  ...         1

[25 rows x 21 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17364 entries, 0 to 17363
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Patient Number                             17306 non-null  float64
 1   State Patient Number                       2457 non-null   object
 2   Date Announced                             17364 non-null  object
 3   Estimated Onset Date                       0 non-null      float64
 4   Age Bracket                                1670 non-null   object
 5   Gender                                     3746 non-null   object
 6   Detected City                              2166 non-null   object
 7   Detected District                          14978 non-null  object
 8   Detected State                             17363 non-null  object
 9   State code                                 17363 non-null  object
 10  Current Status                             17364 non-null  object
 11  Notes                                      16046 non-null  object
 12  Contracted from which Patient (Suspected)  1537 non-null   object
 13  Nationality                                1554 non-null   object
 14  Type of transmission                       2951 non-null   object
 15  Status Change Date                         17195 non-null  object
 16  Source_1                                   17075 non-null  object
 17  Source_2                                   3396 non-null   object
 18  Source_3                                   445 non-null    object
 19  Backup Notes                               361 non-null    object
 20  Num Cases                                  17364 non-null  int64
dtypes: float64(2), int64(1), object(18)
memory usage: 2.8+ MB

In [ ]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Entry_ID                                   7044 non-null   int64
 1   State Patient Number                       0 non-null      float64
 2   Date Announced                             7044 non-null   object
 3   Age Bracket                                122 non-null    float64
 4   Gender                                     122 non-null    object
 5   Detected City                              15 non-null     object
 6   Detected District                          6955 non-null   object
 7   Detected State                             7044 non-null   object
 8   State code                                 7044 non-null   object
 9   Num Cases                                  7044 non-null   int64
 10  Current Status                             7044 non-null   object
 11  Contracted from which Patient (Suspected)  0 non-null      float64
 12  Notes                                      18 non-null     object
 13  Source_1                                   6857 non-null   object
 14  Source_2                                   470 non-null    object
 15  Source_3                                   0 non-null      float64
 16  Nationality                                0 non-null      float64
 17  Type of transmission                       0 non-null      float64
 18  Status Change Date                         0 non-null      float64
 19  Patient Number                             0 non-null      float64
dtypes: float64(8), int64(2), object(10)
memory usage: 1.1+ MB

In [ ]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [ ]:
df9.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [ ]:
df1=df1.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df2=df2.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df3=df3.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df4=df4.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df5=df5.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df6=df6.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df7=df7.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df8=df8.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df9=df9.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df10=df10.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df11=df11.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df12=df12.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df13=df13.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df14=df14.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df15=df15.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df16=df16.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df17=df17.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df18=df18.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df19=df19.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df20=df20.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df21=df21.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df22=df22.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df23=df23.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df24=df24.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]

In [ ]:
df2

       Num Cases Date Announced  ...  Detected State Current Status
0              1     20/04/2020  ...          Odisha   Hospitalized
1              1     20/04/2020  ...          Odisha   Hospitalized
2              1     20/04/2020  ...          Odisha   Hospitalized
3              1     20/04/2020  ...          Odisha   Hospitalized
4              1     20/04/2020  ...          Odisha   Hospitalized
...          ...            ...  ...             ...            ...
10814         11     22/04/2020  ...     Maharashtra   Hospitalized
10815          1     24/04/2020  ...     Maharashtra   Hospitalized
10816         -1     24/04/2020  ...     Maharashtra   Hospitalized
10817          6     25/04/2020  ...     Maharashtra   Hospitalized
10818         -6     25/04/2020  ...     Maharashtra   Hospitalized

[10819 rows x 8 columns]

In [ ]:
df=df1.append([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24])

In [ ]:
df

      Num Cases Date Announced  ... Detected State Current Status
0           1.0     30/01/2020  ...         Kerala      Recovered
1           1.0     02/02/2020  ...         Kerala      Recovered
2           1.0     03/02/2020  ...         Kerala      Recovered
3           1.0     02/03/2020  ...          Delhi      Recovered
4           1.0     02/03/2020  ...      Telangana      Recovered
...         ...            ...  ...            ...            ...
7039        1.0     07/03/2021  ...  Uttar Pradesh       Deceased
7040        1.0     07/03/2021  ...  Uttar Pradesh       Deceased
7041        1.0     07/03/2021  ...  Uttar Pradesh       Deceased
7042        1.0     07/03/2021  ...  Uttar Pradesh       Deceased
7043        4.0     07/03/2021  ...  Uttar Pradesh       Deceased

[556892 rows x 8 columns]

In [ ]:
DATE=df['Date Announced'].str.split('/',expand=True)

In [ ]:
DATE.columns=['Day','Month','Year']
DATE

     Day Month  Year
0     30    01  2020
1     02    02  2020
2     03    02  2020
3     02    03  2020
4     02    03  2020
...   ..   ...   ...
7039  07    03  2021
7040  07    03  2021
7041  07    03  2021
7042  07    03  2021
7043  07    03  2021

[556892 rows x 3 columns]

In [ ]:
df=pd.concat([df,DATE],axis=1)
df

      Num Cases Date Announced Age Bracket  ... Day Month  Year
0           1.0     30/01/2020          20  ...  30    01  2020
1           1.0     02/02/2020         NaN  ...  02    02  2020
2           1.0     03/02/2020         NaN  ...  03    02  2020
3           1.0     02/03/2020          45  ...  02    03  2020
4           1.0     02/03/2020          24  ...  02    03  2020
...         ...            ...         ...  ...  ..   ...   ...
7039        1.0     07/03/2021         NaN  ...  07    03  2021
7040        1.0     07/03/2021         NaN  ...  07    03  2021
7041        1.0     07/03/2021         NaN  ...  07    03  2021
7042        1.0     07/03/2021         NaN  ...  07    03  2021
7043        4.0     07/03/2021         NaN  ...  07    03  2021

[556892 rows x 11 columns]

In [ ]:
df.to_csv('Covid19_India.csv')

In [ ]:
df

      Num Cases Date Announced Age Bracket  ... Day Month  Year
0           1.0     30/01/2020          20  ...  30    01  2020
1           1.0     02/02/2020         NaN  ...  02    02  2020
2           1.0     03/02/2020         NaN  ...  03    02  2020
3           1.0     02/03/2020          45  ...  02    03  2020
4           1.0     02/03/2020          24  ...  02    03  2020
...         ...            ...         ...  ...  ..   ...   ...
7039        1.0     07/03/2021         NaN  ...  07    03  2021
7040        1.0     07/03/2021         NaN  ...  07    03  2021
7041        1.0     07/03/2021         NaN  ...  07    03  2021
7042        1.0     07/03/2021         NaN  ...  07    03  2021
7043        4.0     07/03/2021         NaN  ...  07    03  2021

[556892 rows x 11 columns]